@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
   --primary-font:"Playfair Display", serif;
   --secondary-font: "Mulish", sans-serif;
   --thrid-font: 'Inter',sans-serif;
   --primary-clr:#FB8F1D;
   --title-clr:#000000;
   --subtitle-clr:#7D7987;
   --white-clr:#fff;
   --subtitle-alt-clr:#848484;
}

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html {
  scroll-behavior:smooth;
}

h1,h2{
  font-family:var(--primary-font);
}

p{
  font-family:var(--secondary-font);
}

select,h4,h5,h6,a,h3,span,button{
  font-family:var(--thrid-font);
}

button {
  background:transparent;
  border:none;
  outline:none;
  cursor:pointer;
}

a {
  text-decoration:none;
}